@media(max-width: 480px){
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-color: #d9afd9;
        background-image: linear-gradient(214deg, #d9afd9 0%, #97d9e1 77%);
        font-family: "Rubik", sans-serif;
        font-size: 1.6vw;
      }
  
      .heading{
        display:flex; 
        flex-direction: column;
        /* margin:0%; */
        justify-content:space-evenly;
        align-items: center;
        /* padding: 2vw; */
      }
      
      .main-container {
        /* display: flex; */
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 80%;
        align-items: center;
      }
      .container-1 {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        background-color: #8bc6ec;
        background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 60%);
        width: 98%;
        z-index: 2;
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
      }
      .title {
        color: white;
        font-weight: 250;
        font-size: 5vw;
        font-family:Georgia, 'Times New Roman', Times, serif;
        margin-bottom: 0%;
      }
      .title:hover{
        color: rgb(236, 236, 236);
      }
      .description {
        color: rgb(255, 0, 255);
        font-size: 2vw;
        font-family: 'Courier New', Courier, monospace;
      }
      
      .container-2 {
        align-items: center;
        justify-content: center;
        align-self: center;
        height: 60%;
        display: flex;
        flex-direction: column;
        width: 90%;
        background: whitesmoke;
      }
      .btn {
        background: linear-gradient(
          135deg,
          rgb(179, 174, 255) 0%,
          /* rgb(197, 237, 255) 50%, */
          /* rgb(146, 255, 231) 50%, */
          rgb(160, 248, 199) 100%
        ); 
        border: .5px solid #b2d6ff;
        border-radius: 10px;
        text-align: center;
        padding: 4vw 5.5vw;
        color: black;
        /* box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1); */
        font-size: 2vw;
        /* box-shadow: 0px 1px linear-gradient(rgb(179, 174, 255) 0%,rgb(160, 248, 199) 100%); */
      }
      .btn:hover{
        opacity: 0.85;
      }
}

@media(min-width: 480px){
    /* Landscape styles here */
    body {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background-color: #d9afd9;
      background-image: linear-gradient(214deg, #d9afd9 0%, #97d9e1 77%);
      font-family: "Rubik", sans-serif;
      font-size: 1.6vw;
    }

    .heading{
        display: flex; 
        flex-direction: column;
        justify-content:space-evenly;
        align-items: center;
        padding: 2vw;
    }

    .main-container {
      display: flex;
      width: 80%;
      height: 80%;
    }
    .container-1 {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      background-color: #8bc6ec;
      background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 60%);
      width: 30%;
      z-index: 2;
      box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
      border-radius: 4px;
    }
    .title {
      color: white;
      font-weight: 250;
      font-size: 5vw;
      font-family:Georgia, 'Times New Roman', Times, serif;
      margin-bottom: 0%;
    }
    .title:hover{
      color: rgb(236, 236, 236);
    }
    .description {
      color: rgb(255, 0, 255);
      font-size: 2vw;
      font-family: 'Courier New', Courier, monospace;
    }
    
    .container-2 {
      align-items: center;
      justify-content: center;
      align-self: center;
      height: 90%;
      display: flex;
      flex-direction: column;
      width: 60%;
      background: whitesmoke;
    }
    .btn {
      background: linear-gradient(
        135deg,
        rgb(179, 174, 255) 0%,
        /* rgb(197, 237, 255) 50%, */
        /* rgb(146, 255, 231) 50%, */
        rgb(160, 248, 199) 100%
      ); 
      border: .5px solid #b2d6ff;
      border-radius: 25px;
      text-align: center;
      padding: 4vw 5.5vw;
      color: black;
      /* box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1); */
      font-size: 2vw;
      /* box-shadow: 0px 1px linear-gradient(rgb(179, 174, 255) 0%,rgb(160, 248, 199) 100%); */
    }
    .btn:hover{
      opacity: 0.85;
    }
  }
